.article{
	width: auto;
	min-height: 800px;
	border: 2px solid #ccc;
	font-size: 12px;
	border-radius: 10px;
}
.article h2{
	text-indent: 0;
	text-align: center;
	border-radius: 10px 10px 0 0;
}
.article .subject{
	min-height: 250px;
}
.article .subject dl{
	width: 180px;
	padding: 10px 0 0 45px;
	float: left;
}
.article .subject dl dt{
	width: 170px;
	margin: 0 0 5px 0;
}
.article .subject dl dt img{
	width: 80px;
	height: 80px;
	display: block;
	margin: 0 auto;
}
.article .subject dl dd{
	height: 20px;
	line-height: 20px;
	text-align: center;
	width: 85px;
	float: left;
}
.article .subject dl dd.nav{
	width: 180px;
	float: none;
	color: #f60;
}
.article .subject dl dd a{
	text-decoration: none;
	color: #333;
}
.article .subject dl dd a:hover{
	color: red;
}
.article .subject dl dd.message{
	background: url('../../images/logo1.png') no-repeat left 30%;
}
.article .subject dl dd.friend{
	background: url('../../images/logo2.png') no-repeat left 30%;
}
.article .subject dl dd.guset{
	background: url('../../images/logo4.png') no-repeat left 30%;
}
.article .subject dl dd.flower{
	background: url('../../images/logo3.png') no-repeat left 30%;
}
.article .subject dl dd.email,.article .subject dl dd.url{
	width: 180px;
	text-align: left;
	padding: 2px 0 0 0;
	text-indent: 5px;
}
.content{
	float: right;
	width: 680px;	
	height: 30px;
	line-height: 30px;
	padding: 5px 20px 0 0;
}
.content img{
	position: relative;
	top: 3px;
}
.user{
	background: url('../../images/user.png') no-repeat left center;
	border-bottom: 1px dashed #999;
	padding: 0 0 0 25px;
}
.user span{
	float: right;
	color: #06f;
	padding: 0 0 0 5px;
}
.user span a{
	text-decoration: none;
	color: #06f;
}
.user span a:hover{
	color: #f60;
}
.user h3{
	font-size: 14px;
	height: 40px;
}
.detail{
	line-height: 200%;
	font-size: 14px;
}
.line{
	width: 95%;
	margin: 0 auto;
	clear: both;
	height: 10px;
	border-bottom: 1px dashed #333;	
}
.read{
	font-size: 14px;
	color: #666;
}
.add dl{
	width:450px;
	margin: 0 auto;
}
.add dl dt{
	text-align: center;
	padding: 10px 0;
	font-weight: bold;
}
.add dl dd{
	padding: 5px 0;
}
.add dl dd textarea{
	width: 420px;
	border: 1px solid #ccc;
	height: 200px;
}
.code{cursor: pointer;}

.add dl dd input[type="submit"]{
	width: 60px;
	height: 25px;
	border: 1px solid #ff6700;
	background:#fff;
	color: #ff6700;
	outline: none;
	cursor: pointer;
}
.read p{
	font-size: 12px;
}